<!-- aquien califica -->

<ng-container *ngIf="countFin > 0; else msjAgradece">
    <div class="text-center">
        <div *ngIf="dataCalificado.showTitulo">
            <span class="fw-600 fs-13 text-secondary"> {{ dataCalificado.titulo }} </span>
        </div>
        
        <div *ngIf="dataCalificado.showNombre">
            <span class="fs-15">{{ dataCalificado.nombre }}</span>
            <br><br>
        </div>    
    </div>
    
    <star-rating
        [starType]="'svg'" 
        size="large" 
        speed="slow"
        (ratingChange)="onRatingChange($event)"
        ></star-rating>
    
    <div *ngIf="dataCalificado.showTxtComentario" class="text-center pt-2">
        
        <mat-form-field class="text-center">        
            <textarea matInput placeholder="Escribe un comentario" maxlength="200" [(ngModel)]="comentario"></textarea>
        </mat-form-field>

        <br>

        <button mat-flat-button color="primary" (click)="goAgradecimiento()" [disabled]="countFin < 3 || dataCalificado.calificacion == 0">
            <i *ngIf="countFin < 3" class="fa fa-spinner fa-spin fa-fw"></i>
            Listo
        </button>
    </div>
</ng-container>

<ng-template #msjAgradece>
    <div class="text-center fs-18 fw-100">
        <span> Muchas gracias, su calificación se tomara en cuenta.</span>
        <hr>
        <button mat-flat-button color="primary" mat-dialog-close>Ok</button>
    </div>    
</ng-template>