<div class="text-left h-100 w-100">

    <!-- info comercio con repartidores propios -->    
    <ng-container *ngIf="isComercioRepartidoresPropios && !isComercioPapayaSoloPedidosApp">
        <div class="border-bottom m-0 p-3">
            <div class="div-info">
                <i class="fa fa-motorcycle pr-1" aria-hidden="true"></i>        
                <span class="fs-11">Comercio cuenta con su propio reparto.</span>
            </div>
        </div>
    </ng-container>

    <div *ngIf="isRestaurante" class="border-bottom m-0 p-3">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <span class="fw-600 fs-14">Cubiertos  <i class="fa fa-cutlery"></i></span>
                <ng-container *ngIf="isCubierto; else elseTemplateCubierto">
                    <p class="fw-100 fs-12 text-secondary">El comercio incluirá cubierto en tu pedido. Solicita cubiertos solo cuando lo necesites.</p>
                </ng-container>
                <ng-template #elseTemplateCubierto>
                    <p class="fw-100 fs-12 text-secondary">Ayúdanos a reducir el desperdicio de plástico. Solicita cubiertos solo cuando lo necesites.</p>                                            
                </ng-template>
                
            </div>
            <mat-slide-toggle [(ngModel)]="isCubierto" name="isCubierto"></mat-slide-toggle>
        </div>
    </div>

     <!-- recojo en el local -->
     <div [hidden]="!isAceptaRecojoLocal" matRipple class="border-bottom m-0 p-3" [matRippleColor]="rippleColor">
        <mat-checkbox labelPosition="before" [(ngModel)]="isRecojoLocalCheked" (change)="recalcularTotales()">
            <i class="fa fa-home pr-2" aria-hidden="true"></i> 
            <span class="mr-1" [ngClass]="{'fw-600': isRecojoLocalCheked}">Paso a recoger en el Local</span>            
        </mat-checkbox>
    </div>

    <div *ngIf="isShowNombreClienteLoginInvitado" class="border-bottom m-0 p-3" matRipple [matRippleColor]="rippleColor">
        <app-text-nom-cliente (isNombreValid)="nombreClienteValido = $event; verificarFormValid()" [sizeTextBg]="false"></app-text-nom-cliente>
    </div>

                                
    <!-- direccion -->
    <div *ngIf="!isRecojoLocalCheked" class="border-bottom m-0 p-3 d-flex justify-content-between align-items-center" matRipple [matRippleColor]="rippleColor" (click)="openDialogDireccion()">
        <div>
            <span class="fw-100 fs-12 text-secondary">Direccion de entrega:</span>
            <p class="m-0 fs-14">
                <!-- <strong>{{direccionCliente.titulo}}</strong> <br> {{direccionCliente.direccion}} -->
                <strong [ngClass]="{'text-danger': direccionCliente.direccion === ''}">{{direccionCliente.titulo}}</strong> <span *ngIf="direccionCliente.direccion != ''" class="fw-100 text-info pl-2"> {{  dirEstablecimiento.distancia_km }} km </span><br> {{direccionCliente.direccion}}            
            </p>   
            <p *ngIf="msjErrorDir.length > 0" class="text-danger fs-12 fw-100 m-0">  {{ msjErrorDir }} </p>
        </div>
        <div>
            <button class="btn btn-sm btn-secondary">
                <span class="fw-100 fs-10">Cambiar</span>
            </button>
        </div>
    </div>

   

    <!-- tiempo de entrega -->
    <div class="border-bottom m-0 p-3 d-flex justify-content-between align-items-center" matRipple [matRippleColor]="rippleColor" (click)="openDialogTiempoEntrega()">
        <!-- <span class="fw-100 fs-12 text-secondary">Hora de entrega:</span> -->            
        <div>
            <span class="fw-100 fs-12 text-secondary"> Entgrega:</span>
            <i class="fa fa-clock-o pl-2"></i>
            <p class="m-0"><span class="fs-14" [ngClass]="{'text-danger': !isTiempoEntregaValid}"> {{ tiempoEntregaSelected.descripcion }}: <strong>{{tiempoEntregaSelected.value | titlecase}} </strong> </span></p>
        </div>

        <div>
            <button class="btn btn-sm btn-secondary">
                <span class="fw-100 fs-10">Cambiar</span>
            </button>
        </div>

    </div>
    <!-- tiempo de entrega -->

    <!-- telefono -->
    <div class="border-bottom m-0 p-3" matRipple [matRippleColor]="rippleColor" (click)="openDialogsendSMS()">                
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <span class="text-danger fs-12 fw-100" [hidden]="this.infoToken.telefono.length >= 5">Es necesario el numero de su telefono</span>        
                <p class="m-0 fs-14">Telefono: <strong>{{ infoToken.telefono }}</strong></p>
                <span class="fw-100 fs-12 text-danger" [hidden]="this.infoToken.telefono.length >= 5">Añade un número de teléfono para que podamos contactarte e informarte de tu pedido.</span>        
            </div>
            <button class="btn btn-sm btn-secondary">
                <span class="fw-100 fs-10">Cambiar</span>
            </button>
        </div>
    </div>
    <!-- telefono -->

    <!-- facturacion -->
    <div class="border-bottom m-0 p-3 d-flex justify-content-between align-items-center" matRipple [matRippleColor]="rippleColor" (click)="openDialogTipoComprobnate()">
        <p class="m-0 fs-14">Comprobante: <strong>{{tipoComprobanteSelected.descripcion}}</strong></p>
        <!-- <i class="fa fa-caret-down" aria-hidden="true"></i> -->
        <button class="btn btn-sm btn-secondary">
            <span class="fw-100 fs-10">Cambiar</span>
        </button>
    </div>
    <!-- facturacion -->

    <!-- metodo de pago -->
    <div class="border-bottom m-0 p-3 div-metodo-pago" matRipple [matRippleColor]="rippleColor" (click)="openDialogMetodoPago()">
        <div class="d-flex justify-content-between align-items-center">
            <p class="m-0 fs-14">Metodo de pago: <strong>{{metodoPagoSelected.descripcion}}</strong></p>
            <button class="btn btn-sm btn-secondary">
                <span class="fw-100 fs-10">Cambiar</span>
            </button>
            <!-- <i class="fa fa-caret-down" aria-hidden="true"></i>                 -->
        </div>
        <span class="fw-100 fs-12 text-danger" [hidden]="this.metodoPagoSelected.idtipo_pago">Especifique un metodo de pago.</span>        
    </div>
    <!-- metodo de pago -->

    <!-- propina -->
    <div *ngIf="!isRecojoLocalCheked" class="m-0 p-3 d-flex justify-content-between">
        <span class="m-0 fs-14">Propina: <i class="fa fa-question-circle" matTooltip="El 100% va para el repartidor" #tooltip="matTooltip" (click)="tooltip.toggle()" matTooltipPosition="above" aria-label="Button that shows a tooltip"></i> </span> 
        <app-comp-propina-delivery [listSubtotales]="_listSubtotales" (selectedPropina)="selectedPropinaRepartidor($event)"></app-comp-propina-delivery>
        <!-- <i class="fa fa-question-circle" aria-hidden="true"></i> -->
    </div>
    <!-- propina -->

    <!-- dato importante o nombre de contacto si es solidaridad -->
    <div class="p-3" *ngIf="isComercioSolidaridad">
        <span class="text-info">Importante: especifique persona o datos de contacto.</span>
        <mat-form-field class="w-100">
            <input matInput [placeholder]="titleInputDatoAdicional" [required]="isComercioSolidaridad" [(ngModel)]="valInputDatoAdicianal">
        </mat-form-field>
    </div>
    <br>
    <!-- dato importante o nombre de contacto si es solidaridad -->

    
        
    <div class="m-0 p-3">        
        <!-- <div class="row"> -->
            <!-- subtotales -->    
            <div class="div-total w-100">
                <ul class="w-100 ul-total">
                    <li class="d-flex div-plr li-item" *ngFor="let item of _listSubtotales" matRipple
                    [matRippleColor]="rippleColor">
                    <div class="w-100">
                        {{item.descripcion | titlecase}}

                        <!-- si lluvia -->
                        <ng-container *ngIf="item.isDeliveryApp" class="d-flex">
                            <div *ngFor="let itemIcon of listIconsEntrega" class="d-inline">
                                <img *ngIf="itemIcon.visible" class="img-ico-entrega pl-2 text-secondary" src="../assets/images/{{itemIcon.icon}}" alt="itemIcon.motivo" matTooltip="{{ itemIcon.motivo }}">
                            </div>
                            <!-- <img *ngIf="isRain" class="img-ico-entrega pl-2 text-secondary" src="../assets/images/x_is_rain.png" alt="is_rain" matTooltip="Lluvia">
                            <img *ngIf="isRain" class="img-ico-entrega pl-3 text-secondary" src="../assets/images/x_is_nigth.png" alt="is_all_demand" matTooltip="Alta demanda">
                            <img *ngIf="isRain" class="img-ico-entrega pl-3 text-secondary" src="../assets/images/x_is_all_demand.png" alt="is_all_demand" matTooltip="Alta demanda"> -->
                            <!-- <i  class="fa fa-cloud pl-2 text-secondary"></i>                         -->
                            <i *ngIf="isCalculandoDistanciaA" class="fa fa-spinner fa-spin fa-fw ml-3"></i>
                        </ng-container>                        
                        
                    </div>
                    <div>
                        {{item.importe | number:'0.2' }}</div>
                    </li>
                </ul>
            </div>        
            <div class="pb-2 text-right">
                <span class="text-danger fs-12 fw-100" [hidden]="isValidForm">   
                    <span *ngIf="resData.importeTotal < montoMinimoPedido">
                        Importe minimo S/. {{montoMinimoPedido | number:'.2'}}
                    </span>                 
                </span>

                <p class="fs-11 text-info fw-100" *ngIf="!isComercioRepartidoresPropios || isComercioPapayaSoloPedidosApp">Costo de entrega y propina es 100% para el repartidor.</p>
            </div>
            <br>
        <!-- </div> -->
    </div>    
    <br><br>
</div>