<div class="text-left h-100">
    <div *ngIf="!isRecojoLocalCheked" class="border-bottom m-0 p-3" matRipple [matRippleColor]="rippleColor" (click)="openDialogDireccion()">
        <span class="fw-100 fs-12 text-secondary">Direccion de entrega:</span>
        <p class="m-0 fs-14">
            <!-- <strong>{{direccionCliente.titulo}}</strong> <br> {{direccionCliente.direccion}} -->
            <strong [ngClass]="{'text-danger': direccionCliente.direccion === ''}">{{direccionCliente.titulo}}</strong> <br> {{direccionCliente.direccion}}            
        </p>   
        <p *ngIf="msjErrorDir.length > 0" class="text-danger fs-12 fw-100 m-0">  {{ msjErrorDir }} </p>
    </div>

    <!-- recojo en el local -->
    <div [hidden]="!isAceptaRecojoLocal" matRipple class="border-bottom m-0 p-3" [matRippleColor]="rippleColor">
        <mat-checkbox labelPosition="before" [(ngModel)]="isRecojoLocalCheked" (change)="recalcularTotales()">
            <i class="fa fa-home pr-2" aria-hidden="true"></i> 
            <span class="mr-1" [ngClass]="{'fw-600': isRecojoLocalCheked}">Paso a recoger en el Local</span>            
        </mat-checkbox>
    </div>

    <!-- tiempo de entrega -->
    <div class="border-bottom m-0 p-3 d-flex justify-content-between align-items-center" matRipple [matRippleColor]="rippleColor" (click)="openDialogTiempoEntrega()">
        <!-- <span class="fw-100 fs-12 text-secondary">Hora de entrega:</span> -->            
        <div>
            <i class="fa fa-clock-o pr-2"></i>
            <span class="fw-100 fs-12 text-secondary"> Entgrega:</span>
            <p class="m-0"><span class="fs-14" [ngClass]="{'text-danger': !isTiempoEntregaValid}"> {{ tiempoEntregaSelected.descripcion }}: <strong>{{tiempoEntregaSelected.value | titlecase}} </strong> </span></p>
        </div>

        <div>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </div>

    </div>
    <!-- tiempo de entrega -->

    <!-- telefono -->
    <div class="border-bottom m-0 p-3" matRipple [matRippleColor]="rippleColor" (click)="openDialogsendSMS()">                
        <span class="text-danger fs-12 fw-100" [hidden]="this.infoToken.telefono.length >= 5">Es necesario el numero de su telefono</span>        
        <p class="m-0 fs-14">Telefono: <strong>{{ infoToken.telefono }}</strong></p>
        <span class="fw-100 fs-12 text-secondary" [hidden]="this.infoToken.telefono.length >= 5">Añade un número de teléfono para que podamos contactarte e informarte de tu pedido.</span>        
    </div>
    <!-- telefono -->

    <!-- facturacion -->
    <div class="border-bottom m-0 p-3 d-flex justify-content-between" matRipple [matRippleColor]="rippleColor" (click)="openDialogTipoComprobnate()">
        <p class="m-0 fs-14">Comprobante: <strong>{{tipoComprobanteSelected.descripcion}}</strong></p>
        <i class="fa fa-caret-down" aria-hidden="true"></i>
    </div>
    <!-- facturacion -->

    <!-- metodo de pago -->
    <div class="border-bottom m-0 p-3" matRipple [matRippleColor]="rippleColor" (click)="openDialogMetodoPago()">
        <div class="d-flex justify-content-between">
            <p class="m-0 fs-14">Metodo de pago: <strong>{{metodoPagoSelected.descripcion}}</strong></p>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </div>
        <span class="fw-100 fs-12 text-danger" [hidden]="this.metodoPagoSelected.idtipo_pago">Especifique un metodo de pago.</span>    
    </div>
    <!-- metodo de pago -->

    <!-- propina -->
    <div *ngIf="!isRecojoLocalCheked" class="m-0 p-3 d-flex justify-content-between">
        <span class="m-0 fs-14">Propina: <i class="fa fa-question-circle" matTooltip="El 100% va para el repartidor"></i> </span> 
        <app-comp-propina-delivery [listSubtotales]="_listSubtotales" (selectedPropina)="selectedPropinaRepartidor($event)"></app-comp-propina-delivery>
        <!-- <i class="fa fa-question-circle" aria-hidden="true"></i> -->
    </div>
    <!-- propina -->

    <!-- dato importante o nombre de contacto si es solidaridad -->
    <div class="p-3" *ngIf="isComercioSolidaridad">
        <span class="text-info">Importante: especifique persona o datos de contacto.</span>
        <mat-form-field class="w-100">
            <input matInput [placeholder]="titleInputDatoAdicional" [required]="isComercioSolidaridad" [(ngModel)]="valInputDatoAdicianal">
        </mat-form-field>
    </div>
    <br>
    <!-- dato importante o nombre de contacto si es solidaridad -->
    

    <div class="m-0 p-3">        
        <!-- <div class="row"> -->
            <!-- subtotales -->    
            <div class="div-total w-100">
                <ul class="w-100 ul-total">
                    <li class="d-flex div-plr li-item" *ngFor="let item of _listSubtotales" matRipple
                    [matRippleColor]="rippleColor">
                    <div class="w-100">{{item.descripcion | titlecase}}</div>
                    <div>{{item.importe | number:'0.2' }}</div>
                    </li>
                </ul>
            </div>        
            <div class="pb-2 text-right">
                <span class="text-danger fs-12 fw-100" [hidden]="isValidForm">Importe minimo S/. {{montoMinimoPedido | number:'.2'}}</span>
            </div>
            <br>
        <!-- </div> -->
    </div>    
    <br><br>
</div>