<div class="animated fadeIn div-loader-2" *ngIf="loaderPage">
    <div class="loader">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <span class="pt-2">Obteniendo datos...</span>
    </div>    
</div>
<div class="animated fadeInUp">

    
    <div *ngIf="isNullselectedDireccion" class="div-img-gps p-3" (click)="openDialogDireccion()">
        <img src="assets/images/_establesca_direccion.png" alt="direccione">
        <p class="pt-2">Para comenzar, establesca una dirección de entrega.</p>
    </div>
    
    <div *ngIf="listEstablecimientos && listEstablecimientos.length === 0" class="div-img-gps p-3">
        <img src="assets/images/_no_disponible.png" alt="no-disponible">
        <p class="pt-2">El servicio aún no esta disponible en este lugar.</p>
    </div>
    


    <!-- PROMOCIONES -->    
    <div class="p-2 div-promo-content border-bottom" *ngIf="listPromociones.length > 0">
        <p class="fw-600 pl-2 m-0">Promociones</p>
        <app-comp-view-promo [list]="listPromociones" (itemSelected)="itemSelected($event)"></app-comp-view-promo>
    </div>    
    <!-- PROMOCIONES -->

    <div class="p-2 content-master-establecimiento" *ngIf="listEstablecimientos">

        <!-- filtro de categorias -->
        <ng-container *ngIf="isShowTextBusquedaComercio; else elseTemplateBusquedaClic">
            <!-- busca por descripcion de categoria o nombre comercio  -->
            <mat-form-field class="pl-3 pr-3 text-search-comercio">
                <input matInput placeholder="Buscar por nombre del comercio" value="" autocomplete="off" name="comercio_buscar_nombre" (keyup)="searchByNomComercio(textSearhComercio.value)" #textSearhComercio>
                <button matSuffix class="btn btn-sm" aria-label="Clear" (click)="clearTextBusquedaComercio()">
                    <i class="fa fa-close"></i>                    
                </button>
            </mat-form-field>
        </ng-container>
        <ng-template #elseTemplateBusquedaClic>
            <!-- busca por clic en filtros -->
            <div class="scrolling-wrapper p-2 mb-2 border-bottom content-categoria-filtro" *ngIf="listSubCatFiltros.length > 1">            
                <!-- <i class="fa fa-arrow-left"></i> -->
                <div class="btn-link-cat-filtro" *ngFor="let item of listSubCatFiltros" [ngClass]="{'active': item.selected}" (click)="aplicarFitroSubCategoria(item)">                
                    <ng-container *ngIf="item.descripcion == 'buscar'; else elseFilterDescription">
                        <i class="fa fa-search" title="Buscar" (click)="showTextBusquedaComercio()"></i>
                    </ng-container>
                    <ng-template #elseFilterDescription>                
                        <span class="text-secondary">{{item.descripcion}}</span>                                
                    </ng-template>                
                </div>
            </div>                            
        </ng-template>
        

        <div class="content-all-comercio">            
            <div *ngFor="let item of listEstablecimientos">
                <app-item-comercio *ngIf="item.visible" [itemEstablecimiento] = "item"  (itemSelected) = "itemSelected($event)"></app-item-comercio>
            </div>
        </div>
        <br><br>
        
    </div>
</div>
