<div class="animated fadeInUp">
    <div *ngIf="isNullselectedDireccion" class="div-img-gps p-3" (click)="openDialogDireccion()">
        <img src="assets/images/_establesca_direccion.png" alt="direccione">
        <p class="pt-2">Para comenzar, establesca una dirección de entrega.</p>
    </div>
    
    <div *ngIf="listEstablecimientos && listEstablecimientos.length === 0" class="div-img-gps p-3">
        <img src="assets/images/_no_disponible.png" alt="no-disponible">
        <p class="pt-2">El servicio aún no esta disponible en este lugar.</p>
    </div>
    
    <div class="p-2 content-master-establecimiento" *ngIf="listEstablecimientos">

        <!-- filtro de categorias -->
        <div class="scrolling-wrapper p-2 mb-2 border-bottom content-categoria-filtro" *ngIf="listSubCatFiltros.length > 1">            
            <!-- <i class="fa fa-arrow-left"></i> -->
            <div class="btn-link-cat-filtro" *ngFor="let item of listSubCatFiltros" [ngClass]="{'active': item.selected}" (click)="aplicarFitroSubCategoria(item)">
                <span class="text-secondary">{{item.descripcion}}</span>                
            </div>
        </div>        

        <div class="content-all-comercio">
            <div *ngFor="let item of listEstablecimientos">
                <app-item-comercio *ngIf="item.visible" [itemEstablecimiento] = "item"  (itemSelected) = "itemSelected($event)"></app-item-comercio>
            </div>
        </div>
        <br><br>
        
    </div>
</div>
