<div class="content-dlg-item" style="max-width: 70vh;">
    <div>
        <div class="m1 li-padding-selected d-flex xtitulo">
        <div class="w-100"><span>{{item.des}}</span></div>
        <div class="text-right d-flex">
            <div
            class="flag-stock-dialog text-center
            estado-color-{{this.miPedidoService.getEstadoStockItem(item.cantidad)}}">
            <div [ngClass]="{'animated wobble': item.cantidad===0}">
                <span class="fs-9">Stock</span><br>
                <span class="fs-15">{{item.cantidad}}</span>
            </div>
            </div>
            <span class="pl-1">{{item.precio | number:'0.2' }}</span>
        </div>
        </div>
        <ng-container *ngIf="item.selected">
            <div class="animated fadeIn">
                <!-- detalle -->
                <!-- <ng-container *ngIf="item.detalles === ''; else elseTemplate">
                <br>
                </ng-container>
                <ng-template #elseTemplate>
                <div class="pl-3 pr-3">
                    <span class="fs-14 text-secondary">{{ item.detalles | lowercase }}</span>
                </div>
                <hr>
                </ng-template> -->

                <!-- subitems -->                  
                <ng-container *ngIf="item.subitems">
                    <div class="subitem-content pl-3 pr-3 pt-2">
                      <div class="xoption w-50 fs-13" *ngFor="let subitem of item.subitems; let i = index">
                          <mat-checkbox 
                            (change)="addSubItem(subitem)" 
                            [(ngModel)]="subitem.selected" 
                            [ngClass]="{'li-tachado': subitem.cantidad == '0'}"
                            [disabled]="subitem.cantidad == '0'"
                            >
                            <div>
                              {{subitem.des | lowercase}} 
                              <span *ngIf="subitem.precio != 0" class="fs-11 text-secondary"> 
                                (+ {{subitem.precio | number:'0.2'}})
                              </span> {{subitem.cantidad}}
                            </div>
                          </mat-checkbox>
                      </div>                   
                    </div>
                </ng-container>

                <!-- especificaciones -->
                <div class="pl-3 pr-3">
                <mat-form-field class="w-100 margin-input">
                    <input matInput placeholder="Escribe aqui las especificaciones">
                </mat-form-field>
                </div>
                <hr>
                <!-- tipos de consumo -->
                <div class="pl-3 pr-3">
                    <table width="100%" class="tb-tpc">
                        <tr *ngFor="let tp of objItemTipoConsumoSelected">
                        <td>{{tp.descripcion}}</td>
                        <td>
                            <div class="d-flex float-right">
                                <span [hidden]="tp.cantidad_seleccionada === 0" class="fs-19 pr-2">{{tp.cantidad_seleccionada}}</span>
                                <div class="btn-tbl bg-danger xCursor" matRipple (click)="addItemToPedido(tp, 1)">-</div>
                                <div class="btn-tbl bg-success xCursor" matRipple (click)="addItemToPedido(tp, 0)">+</div>
                            </div>
                        </td>
                        </tr>
                    </table>
                    <br>
                </div>
            </div>
        </ng-container>
        <button mat-flat-button color="primary" (click)=" close()">Listo</button>
    </div>            
</div>