<div class="animated fadeIn content-comercio pb-2 text-left" matRipple (click)="_itemSelected()">
    <mat-card>
    <div class="content-img-comercio">        
        <img class="img-comercio" src="{{imgComercio}}" alt="">
        <div class="div-cerrado" *ngIf="isCerrado && !isComercioAceptaPedidoProgramado && !isComercioReservacionesActiva">
            <p>Cerrado Ahora</p>                    
        </div>
    </div>
    <div >
        <div class="div-info-comercio">
            <p class="fw-600 fs-18">
                {{itemEstablecimiento.nombre | titlecase}}                
            </p>
            <p class="fs-13" *ngIf="itemEstablecimiento.eslogan.length > 0">{{itemEstablecimiento.eslogan | titlecase}}</p>
            <p class="fw-100 fs-12">{{itemEstablecimiento.sub_categoria}}</p>

            <!-- si acepta tarjeta -->
            <div>
                <span *ngIf="itemEstablecimiento.pwa_delivery_acepta_tarjeta === 1"
                    class="div-acepta-tarjeta"> 
                    <i class="fa fa-credit-card mr-1"></i> Acepta Tarjeta</span>
            </div>
        </div>
        <hr>
        <div class="d-flex div-sub-info-comercio">            
            <ng-container *ngIf="!isCerrado; else elseTemplateComercioCerrado">
                            
                <div *ngIf="!reserva" class="d-flex">
                    <div>
                        <i class="fa fa-clock-o"></i>
                        {{ itemEstablecimiento.tiempo_aprox_entrega | lowercase }}
                    </div>
                    <div *ngIf="itemEstablecimiento.c_servicio">
                        <i class="fa fa-bicycle"></i>
                        S/.{{ itemEstablecimiento.c_servicio | number: '0.2'}}
                    </div>
                    <div *ngIf="itemEstablecimiento.calificacion > 3">
                        <i class="fa fa-star text-warning"></i>
                        {{ itemEstablecimiento.calificacion | number:'.0' }}
                    </div>
                </div>

                <div *ngIf="reserva" class="d-flex">
                    <div>
                        <i class="fa fa-clock-o"></i>
                        Atencion hasta las <strong>{{ itemEstablecimiento.hora_fin }}</strong>
                    </div>
                    <div *ngIf="itemEstablecimiento.calificacion > 3" class="ml-2">
                        <i class="fa fa-star text-warning"></i>
                        {{ itemEstablecimiento.calificacion | number:'.0' }}
                    </div>
                </div>


            </ng-container>
            <ng-template #elseTemplateComercioCerrado>                            
                <div *ngIf="isComercioAceptaPedidoProgramado">
                    <span class="">
                        <i class="fa fa-calendar"></i>
                        Pídelo para {{ descripcionDiaProgramado }} desde <strong>las {{ itemEstablecimiento.hora_ini }} </strong>
                    </span>
                </div>

                <!-- si es reserva  muestra la hora que acepta reservas -->
                <div  *ngIf="reserva">
                    <span>
                        <i class="fa fa-clock-o"></i>
                        Reservas desde {{ horaAceptaReservas }}
                    </span>
                </div>
            </ng-template>
            
            
        </div>
    </div>
    </mat-card>
</div>