<div class="animated fadeIn content-comercio pb-2 text-left" matRipple (click)="_itemSelected()">
    <mat-card>
    <div class="content-img-comercio">
        <img class="img-comercio" src="{{imgComercio}}" alt="">
        <div class="div-cerrado" *ngIf="isCerrado && !isComercioAceptaPedidoProgramado">
            <p>Cerrado Ahora</p>                    
        </div>
    </div>
    <div >
        <div class="div-info-comercio">
            <p class="fw-600 fs-18">{{itemEstablecimiento.nombre | titlecase}}</p>
            <p class="fs-13" *ngIf="itemEstablecimiento.eslogan.length > 0">{{itemEstablecimiento.eslogan | titlecase}}</p>
            <p class="fw-100 fs-12">{{itemEstablecimiento.sub_categoria}}</p>
        </div>
        <hr>
        <div class="d-flex div-sub-info-comercio">
            <ng-container *ngIf="!isCerrado; else elseTemplate">
                            
                    <div>
                        <i class="fa fa-clock-o"></i>
                        {{ itemEstablecimiento.tiempo_aprox_entrega | lowercase }}
                    </div>
                    <div>
                        <i class="fa fa-bicycle"></i>
                        S/.{{ itemEstablecimiento.c_servicio | number: '0.2'}}
                    </div>
                    <div *ngIf="itemEstablecimiento.calificacion > 3">
                        <i class="fa fa-star text-warning"></i>
                        {{ itemEstablecimiento.calificacion | number:'.0' }}
                    </div>

                    <!-- <div>5.0</div>             -->

            </ng-container>
            <ng-template #elseTemplate>                            
                <div *ngIf="isComercioAceptaPedidoProgramado">
                    <span class="">
                        <i class="fa fa-calendar"></i>
                        Pídelo para {{ descripcionDiaProgramado }} desde <strong>las {{ itemEstablecimiento.hora_ini }} </strong>
                    </span>
                </div>
            </ng-template>
            
            
        </div>
    </div>
    </mat-card>
</div>