<div >
    <p class="fs-18">Configuraciones</p>
    <hr>

    <mat-checkbox [(ngModel)]="isPuntoAutoPedidoCheck">
        <span class="fw-600">Punto de Autopedido</span>
    </mat-checkbox>    

    <p class="fs-12">Configurar este equipo como Punto de Autopedido, donde el cliente podra realizar por su cuenta su pedido. 
        Vincule una impresora donde el cliente obtendrá una copia de su pedido.
        <strong>El canal de consumo será: Para Llevar</strong>
    </p>
    <br>
    
    <mat-form-field>
        <mat-label>Impresora Vinculada</mat-label>
        <mat-select placeholder="Impresora" [(ngModel)]="selectedValueImpresora" name="item">
            <mat-option *ngFor="let item of listImpresoras" [value]="item">
                {{item.descripcion}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <hr>
    <button mat-raised-button color="primary" (click)="setConifg()" >Listo Guardar</button>    
</div>