p { margin: 0; }

.content-op {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
}


.item-propina {
    text-align: center;
    padding: 10px;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    font-size: 12px;
    background-color: white;
    margin-left: 5px;
    min-width: 90px;
    transition: all 0.3s;
}

.propina-selected {
    /* background-color: black;
    color: white; */
    background-color: slategrey;
    /* border: 1px solid gold; */
    color: white;

}