<div class="animated fadeIn w-100 div-content overflow-auto">
    <br>
    <div style="min-width: 186px; text-align: center;">
        <img src="assets/images/icon-app/reserva.JPG" class="w-50">
    </div>
    
    <hr>

    <div class="text-center p-3">        
        <p class="fw-600 fs-15">Para reservar tenga en cuenta lo siguiente:</p>
        <br>
        <div class="w-100">
            <p class="fs-13">
                La reserva por la aplicación tiene por objetivo: <strong>Primero</strong>, reservar la comida si el stock es limitado, por ejemplo, en los locales que cambian de carta a diario. Y <strong>segundo</strong>, que al llegar al local su pedido pase al primer lugar de la cola, es decir sea servido en mesa lo más rápido posible.
            </p>
            <hr>
            <p class="fs-13">
                Si por algún motivo no llega en el tiempo que indico el local <strong>no</strong> estará en la obligación de mantener su reserva y tampoco colocar su pedido primero en la cola.
            </p>
        </div>        
        <hr>
        <br>        
        <button mat-raised-button color="primary" class="w-75" (click)="btnNext()">
            Si lo entiendo, continuar            
        </button>   
    </div>
</div>