<div>
  <div class="text-center">
    <div>
      <div class="text-right text-secondary" style="position: absolute; right: 0px;">        
        <i class="fa fa-user-circle-o p-2" aria-hidden="true" [routerLink]="['/login-personal-autorizado']"></i>
      </div>
    </div>
    <br><br><br>
    <!-- <button mat-flat-button color="warn" [routerLink]="['/login-personal-autorizado']">Personal Autorizado</button> -->
    <div>      
      <img src="assets/images/papaya_text.png" width="190px">
      <p>Restobar <span class="fs-13 text-secondary">v.1c</span></p>
    </div>

    <div class="text-center p-4">
      <img src="assets/images/img-ini.png" style="max-width: 320px; width: 100%;" alt="ini">
      <p>Software especializado para negocios gastronomicos.</p>
    </div>
    <br>
    <hr>    
    <div class="xfooter">
      <button mat-flat-button color="primary" [routerLink]="['/login-personal-autorizado']">Personal Autorizado</button>
    </div>
    <!-- <hr> -->
    <!-- <h4>Hola bienvenidos al sistema de toma de pedidos</h4>
    <hr>
    <button mat-flat-button color="primary">Pide tu codigo</button>
    <hr>
    <button mat-flat-button color="accent">Pedir un delivery</button> -->
  </div>

</div>