 <div class="content-all app-loading animated fadeIn" [hidden]="loadAll">
    <div class="logo-loading">     
    </div>      
    <!-- <p class="t-p-0">Papaya Express</p> -->
    <svg class="spinner" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
    <div style="bottom: 10px; position: fixed;">
      <p class="t-p-1" style="color: white;  margin-top: -5px;">papaya.com.pe</p>
    </div>
  </div>



  <div [hidden]="!loadAll" class="animated fadeIn">
    <div class="text-center container-ini">
      <div class="container-body">


        <!-- header -->

        <div class="header">
          <div class="flex">
            <br>
            <div>      
              <img src="assets/images/papaya_text-white.png" style="width: 150px; padding-top: 15px;">
              <p>Express <span class="fs-11">v.3d</span></p>
            </div>
          </div>
        </div>

        <!-- end header -->


        <ng-container *ngIf="!isViewOnlyMozo; else elseTemplateMozo">
          
          <div>
            <br>
            <div>          
              <div class="border-bottom p-3" style="border-radius: 5px 5px 0px 0px;">            
                <ng-container *ngIf="isLogin; else elseTemplate">
                    <span class="fs-18 fw-600">Hola, <strong>{{nombreClientSocket | titlecase}}</strong></span>        
                  
                </ng-container>
                <ng-template #elseTemplate>            
                    <span class="fs-18 fw-600">Hola, Bienvenido</span>        
                  </ng-template>
                <p class="fs-15 text-secondary m-0">¿Qué necesitas hoy?</p>        
              </div>                            
            </div>
  
            <div class="div-all-options pt-3">          
              <div class="div-content-option-ini">
                
                <div class="option-ini" matRipple (click)="showScanCodeQr()">
                  <img src="assets/images/icon-app/001-qr-code.png" alt="">
                  <p class="titulo">Escanear Qr</p>
                  <p class="fs-11 text-secondary">Escanea el codigo QR <br>para hacer un pedido.</p>            
                </div>
  
                <div class="option-ini" matRipple (click)="showDelivery()">
                  <img src="assets/images/icon-app/001-delivery-boy.png" alt="">
                  <p class="titulo">Pedir un Delivery</p>
                  <p class="fs-11 text-secondary">Pide en supermercados <br> restaurantes y más.</p>            
                </div>
  
                <div class="option-ini" matRipple (click)="showReserva()">
                  <img src="assets/images/icon-app/001-beefc.png" alt="">
                  <p class="titulo">Reservar</p>
                  <p class="fs-11 text-secondary">Tus platos favoritos <br>de tu local favorito.</p>            
                </div>
  
                <div class="option-ini"  matRipple (click)="showAtm()">
                  <img src="assets/images/icon-app/001-money.png" alt="">
                  <p class="titulo">Cash</p>
                  <p class="fs-11 text-secondary">Solicita dinero <br> en efectivo.</p>            
                </div>
  
  
              </div>
            </div>
          </div>

        </ng-container>

        <!-- vista de app solo mozo -->
        <ng-template #elseTemplateMozo>
          <div class="div-all-options pt-3">          
            <div class="div-content-option-ini">
              
              <div class="option-ini"  matRipple [routerLink]="['/login-personal-autorizado']">
                <img src="assets/images/icon-app/001-chef.png" alt="">
                <p class="titulo">Personal Autorizado</p>
                <p class="fs-11 text-secondary">Tomar pedidos</p>            
              </div>

            </div>
          </div>
        </ng-template>
        

        
        
        <!-- header --> 
        <!-- <div>
          <i class="fa fa-key p-2" aria-hidden="true" [routerLink]="['/login-personal-autorizado']"></i>
        </div> -->
        <!-- <button *ngIf="isLogin" mat-button color="accent" (click)="cerrarSession()">Cerrar sesion</button> -->
        <!-- <button mat-flat-button color="warn" [routerLink]="['/login-personal-autorizado']">Personal Autorizado</button> -->
      <!-- <i *ngIf="isLogin" class="fa fa-user-circle-o p-2" (click)="showClienteProfile()" aria-hidden="true"></i> -->
        <!-- <div class="header">
          <div class="d-flex">
            <div class="text-right text-white" style="position: absolute; right: 0px;">
            </div>      
          </div>      
          <div class="inner-header flex">
            <br>
            <div>      
              <img src="assets/images/papaya_text-white.png" width="190px">
              <p>Express <span class="fs-12">v.2p</span></p>
            </div>
          </div> -->

          <!--Waves Container-->
          <!-- <div>
            <svg class="waves"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
            </svg>
          </div> -->
          
        <!-- </div> -->
        
        <!-- <div class="text-center pl-4 pr-4">
          <img src="assets/images/img-ini.png" style="max-width: 320px; width: 100%;" alt="ini" (click)="goDev(1);">
          <p class="fs-14" style="color: #616161;">Encuentra, pide y recibe lo que quieras fácilmente. Te lo llevamos en minutos.</p>        
        </div>
        
        <div class="ini-content-options">
          <div *ngIf="isLogin" class="border-bottom p-3" style="background: blanchedalmond; border-radius: 5px 5px 0px 0px;">            
            <span class="fs-13">Hola <strong>{{nombreClientSocket}}</strong>, que quieres pedir hoy?</span>        
          </div>
    
          <div class="fs-14">
            <div matRipple class="p-3 border-bottom border-top" [routerLink]="['/lector-qr']">
              <img src="assets/images/btn_scan.png" alt="btn-scan">
              <span class="pl-2 fw-600">Scanear Código QR</span>
            </div>        
    
            <div matRipple class="p-3 border-bottom border-top" (click)="showDelivery()">
              <img src="assets/images/btn_delivery.png" alt="btn-scan">
              <span class="pl-2 fw-600">Pedir un Delivery</span><br>
            </div>        
          </div>
        </div> -->

        <!-- <br><br>
        <div class="ini-content-other-a div-no-visible-mobile fs-13 text-secondary p-3 border-bottom">
          <div matRipple class="ini-ico p-2 xCursor">
              <img src="assets/images/marker-4.png" alt="">
              <p class="fw-600">Llega a más personas</p>
              <span class="fw-100">Registra tu negocio.</span>
          </div>
          <div matRipple class="ini-ico p-2 xCursor">
            <img src="assets/images/food-delivery.png" alt="">
            <p class="fw-600">Se parte de nuestro equipo</p>
            <p class="fw-100">Registrate para realizar entregas.</p>
          </div>        
        </div> -->

        <br><br><br>
        <!-- <div class="w-100 text-center" (click)="goDev(2);">
          <img src="assets/icons/icon-72x72.png">
          <p class="pt-1 fw-100 fs-12 text-secondary m-0">papaya.com.pe</p>
        </div> -->
      </div>
      <!-- <hr>     -->

      



      <div class="xfooter bg-white"> 
          <button mat-button color="primary" [routerLink]="['/login-personal-autorizado']">Personal Autorizado</button>      
          <br>        

        <div class="w-100 text-center" (click)="goDev(2);">
          <p class="pt-1 fw-100 fs-12 text-secondary m-0">papaya.com.pe</p>
        </div>

      </div>    
      <!-- <hr> -->
      <!-- <h4>Hola bienvenidos al sistema de toma de pedidos</h4>
      <hr>
      <button mat-flat-button color="primary">Pide tu codigo</button>
      <hr>
      <button mat-flat-button color="accent">Pedir un delivery</button> -->
    </div>

  </div>

<!-- </div> -->