<div class="p-2">
    <p class="fs-18 fw- m-0">Metodo de pago</p>
    <p class="fs-11 text-info">Por favor, en cuanto sea posible seleccione un metodo de pago sin contacto (Tarjeta o Yape).</p>
    <hr>
    <!-- <div class="xoption w-100" matRipple *ngFor="let subitem of listMetodoPago">
        <mat-checkbox 
            class="w-100"
            (change)="chageItem(subitem)" 
            [(ngModel)]="subitem.checked"             
        >
            <div class="w-100 d-flex">
                <span>{{subitem.descripcion}} </span>                
            </div>
        </mat-checkbox>                               
    </div>     -->

    <div class="div-list-icon">
        <div *ngFor="let item of listMetodoPago" 
        matRipple class="item-option-pago"        
        [ngClass]="{'item-option-pago-selected': item.checked}"
        (click)="selectedItemOptionPago(item)">
                <img src="../assets/images/icon-app/{{item.img}}" alt="{{item.img}}">
                <p>{{ item.descripcion }}</p>            
        </div>
        
    </div>
    <div *ngIf="itemSelected.info != ''" class="animated flash">
        <hr>
        <p class="fs-12 fw-600">
            <i class="fa fa-info pr-1 text-warning"></i>
            {{ itemSelected.info }}</p>
    </div>
    <ng-container *ngIf="isMontoVisible">
        <hr>
        <span class="text-danger fs-12 fw-100">indique con cuanto pagara:</span>        
        <mat-form-field class="w-100">
            <input type="number" matInput 
            placeholder="Paga con" 
            [(ngModel)]="importeIndicado"
            (keyup) = "verificarImporte(importe.value)" 
            #importe required>
        </mat-form-field>
    </ng-container>
    <hr>
    
    <ng-container *ngIf="!isHabilitadoTarjeta">
        <span class="text-info fs-11">El Comercio no acepta pagos con Tarjeta</span>
        <i class="fa fa-credit-card-alt pl-1" aria-hidden="true"></i>
        <hr>
    </ng-container>
    


    <div class="text-center">
        <button 
            mat-flat-button color="primary"
            [disabled]="!formValid"
            (click)="cerrarDlg()">Listo</button>
    </div>
    
</div>
