<!-- <router-outlet></router-outlet> -->
<div class="h-100 overflow-hidden">  
    <app-progress-time-limit></app-progress-time-limit>
    <div class="toolbar-main" [ngClass]="{'fadeInTool': isVisibleToolBar, 'fadeOutTool': !isVisibleToolBar}">
      <app-tool-bar></app-tool-bar>
    </div>    
    
    <div>
      <mat-tab-group (selectedTabChange)="clickTab($event)" backgroundColor="primary" color="accent"
        class="main-contemt transicion xanimated xfadeIn" [selectedIndex]="selectedTab"
        [ngClass]="{'header-less-tabs pt-0': isBusqueda}">
        <mat-tab label="Carta">
          <div class="x100-toolbar-hidden" (scroll)="onScroll($event)">          
            <app-carta></app-carta>
            <br>
          </div>     
        </mat-tab>
        <mat-tab label="MiPedido">
          <ng-template matTabLabel>
              <span>Mi Pedido</span>              
              <div *ngIf="countTotalItems > 0" class="countItem countTotal animated fadeInUp d-flex">
                {{countTotalItems | number: '2.'}}
                <div class="div-spinner">
                </div>
              </div>              
          </ng-template>
          <div class="x100-toolbar-hidden" (scroll)="onScroll($event)">
            <app-resumen-pedido></app-resumen-pedido>
            <br>
          </div>
        </mat-tab>
        <!-- <mat-tab label="Estado">
          <app-estado-pedido></app-estado-pedido>
        </mat-tab> -->
      </mat-tab-group>
    </div>    

</div>