<div class="animated fadeInUp">    
    <div class="d-flex text-center p-3">
        <!-- items principales -->
        <div class="div-ico">
            <img class="img-ico" src="assets/images/icon-app/icon-p-4.jpg" alt="">
            <div class="titulo">
                <span class="pl-1 fw-100 fs-13">Supermercados</span>
            </div>
        </div>

        <div class="div-ico">
            <img class="img-ico" src="assets/images/icon-app/icon-p-2.PNG" alt="">
            <div class="titulo">
                <span class="pl-1 fw-100 fs-13">Restaurantes</span>
            </div>
        </div>
    </div>

    <!-- otras categorias -->
    <div class="div-otros">
        <div class="div-flat-white-borde mb-3 fs-13 text-dark text-left">
            <div>
                <img src="" alt="">
                <span>Licoreria</span>
            </div>
        </div>
    </div>
</div>
