.div-ico {
    width: 180px;
    padding: 10px;
    text-align: left;
}

.img-ico {
    width: 100%;
    height: 110px;
    object-fit: cover;
    transition: all 0.1s;
    border-radius: 10px;
}

.div-ico .titulo {
    top: -28px;
    position: relative;
    padding: 2px;        
    background: rgba(66,66,66,0.8);
    border-radius: 0px 0px 10px 10px;
}

.div-otros {
    margin-top: -50px;
    padding: 1.6rem;
}

.bg-transparente {
    background: rgba(250,250,250,0.6) !important
}

.div-content-ico {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;;
}

.div-ico-circle{
    /* background: lightgreen; */
    float: left;
    text-align: center;

}

.img-ico-circle-border {
    display: inline-block;    
    border-radius: 50%;
    background: white;
    padding: 15px;
    filter: drop-shadow(1px 1px 3px #757575);
    border: 1px solid #eeeeee;
    margin: 10px;
    max-width: 64px;
}

.div-categorias {
    padding: 10px;
    background: white;
    border-radius: 5px;
    border: solid 1px #e0e0e0;
    max-width: 450px;
}

.bg-aviso {
    background-color: lightgoldenrodyellow;
}

.bg-info-2 {
    background: #bbdefb;
}