<div class="animated fadeInUp">    
    <div class="d-flex text-center p-3 text-white justify-content-center">
        <!-- items principales -->
        <div matRipple class="div-ico" (click)="goComercioCategoria(4)">
            <img class="img-ico" src="assets/images/icon-app/icon-p-4.jpg" alt="">
            <div class="titulo">
                <span class="pl-1 fw-100 fs-13">Supermercados</span>
            </div>
        </div>

        <div matRipple class="div-ico" (click)="goComercioCategoria(1)">
            <img class="img-ico" src="assets/images/icon-app/icon-p-2.PNG" alt="">
            <div class="titulo">
                <span class="pl-1 fw-100 fs-13">Restaurantes</span>
            </div>
        </div>
    </div>

    <!-- otras categorias -->
    <div class="div-otros d-flex justify-content-center">
        <div class="div-categorias mb-3 fs-13 text-dark text-left bg-white">
            <div class="div-content-ico">
                <div matRipple (click)="goComercioCategoria(item.idsede_categoria)" class="div-ico-circle" *ngFor="let item of listIcoCategoria">
                    <ng-container *ngIf="item.visible">
                        <div class="img-ico-circle-border">
                            <img src="{{imgIcoCategoria}}{{item.img}}" alt="">
                        </div>
                        <p class="fs-12 fw-600">{{ item.descripcion }}</p>
                    </ng-container>
                    
                </div>
            </div>
        </div>
    </div>
</div>
