<div class="animated fadeIn">
    <div class="row xboder-abajo m-0 p-2">
        <div class="col-4 text-center xboder-derecha">
            <span>Mesa</span>
            <h3>05</h3>
        </div>
        <div class="col-8 xcontainer-center text-right">
            <span>Tiempo de espera 5min aprox.</span>
        </div>
    </div>

    <!-- importe -->
    <div class="row xboder-abajo m-0 p-2 xcontainer-center">
        <div class="col-6 pb-3 pt-3">
            <span class="fs-13">Importe a pagar</span>            
        </div>
        <div class="col-6 text-right">
            <span class="fs-25">S/. 150.00</span>
        </div>
    </div>

    <!-- link encuesta -->
    <div class="row xboder-abajo m-0 p-2 xcontainer-center">
        <div class="col-8 pb-3 pt-3">
            <span class="fs-13">Califique nuestro servicio, su opinión es muy importante.</span>            
        </div>
        <div class="col-4 text-right">
            <button mat-flat-button color="primary"><i class="fa fa-arrow-right"></i></button>
        </div>
    </div>

    <!-- link completar datos -->
    <div class="row xboder-abajo m-0 p-2 xcontainer-center">
        <div class="col-8 pb-3 pt-3">
            <span class="fs-13">Complete su información para recibir promociones y descuentos.</span>            
        </div>
        <div class="col-4 text-right">
            <button mat-flat-button color="primary"><i class="fa fa-arrow-right"></i></button>
        </div>
    </div>

    <!-- <footer class="xfooter">
        <div class="row m-0">
            <div class="col-6 text-center bg-primary text-white p-3" matRipple>
                <span>Nuevo Pedido</span>
            </div>            
            <div class="col-6 text-center bg-success text-white p-3" matRipple>
                LLamar al personal.
            </div>
        </div>
    </footer> -->

    <br><br>
</div>