<div class="animated fadeIn">
    <div class="row xboder-abajo m-0 p-2">
        <div class="col-4 text-center xboder-derecha">
            <span>Mesa</span>
            <h3>{{infoToken.numMesaLector | number:'2.'}}</h3>
        </div>
        <!-- <span *ngIf="!estadoPedido">.</span> -->    
        <ng-template #elseTemplate>
            
        </ng-template>
        
        <div class="col-8 xcontainer-center text-right" *ngIf="estadoPedido">
            <span *ngIf="estadoPedido.estado === 0">Tiempo de espera <strong>{{ tiempoEspera }} min</strong> aprox.</span>
            <span *ngIf="estadoPedido.estado === 1">Su pedido esta por llegar.</span>
            <span *ngIf="estadoPedido.estado === 2">Su pedido ya fue despachado.</span>
        </div>
    </div>

    <!-- importe -->
    <div class="row xboder-abajo m-0 p-2 xcontainer-center">
        <div class="col-6 pb-3 pt-3">
            <span class="fs-13">Importe a pagar</span><br>
            <ng-container *ngIf="estadoPedido.hayPedidoClientePendiente; else elseTemplateCuenta">
                <span class="text-danger">Tiene pedido pendiente.</span>
            </ng-container>
            <ng-template #elseTemplateCuenta>                
                <span class="text-info xCursor" (click)="verCuenta()">Ver cuenta</span>
            </ng-template>
            
        </div>
        <div class="col-6 text-right">
            <span class="fs-25">S/. {{ estadoPedido.importe | number: '.2' }}</span>
        </div>
    </div>

    <!-- link pagar -->
    <div class="row xboder-abajo m-0 p-2 pt-3 pb-3 xcontainer-center">
        <div class="col-8">
            <img class="pr-2" src="./assets/images/001-visa.png" alt="visa-card">
            <img src="./assets/images/002-mastercard.png" alt="maestro-card">
        </div>
        <div class="col-4 text-right">
            <button mat-flat-button color="primary" (click)="pagarCuenta()">Pagar</button>
        </div>
    </div>

    <!-- link encuesta -->
    <div class="row xboder-abajo m-0 p-2 xcontainer-center">
        <div class="col-12 pb-3 pt-3">
            <span class="fs-13">Al cancelar la cuenta por favor tomece un minuto para calificar nuestro servicio, su opinión es muy importante.</span>
        </div>
    </div>

    <!-- link completar datos -->
    <!-- <div class="row xboder-abajo m-0 p-2 xcontainer-center">
        <div class="col-8 pb-3 pt-3">
            <span class="fs-13">Complete su información para recibir promociones y descuentos.</span>            
        </div>
        <div class="col-4 text-right">
            <button mat-flat-button color="primary"><i class="fa fa-arrow-right"></i></button>
        </div>
    </div> -->

    <!-- <footer class="xfooter">
        <div class="row m-0">
            <div class="col-6 text-center bg-primary text-white p-3" matRipple>
                <span>Nuevo Pedido</span>
            </div>            
            <div class="col-6 text-center bg-success text-white p-3" matRipple>
                LLamar al personal.
            </div>
        </div>
    </footer> -->

    <br><br>
</div>