<div class="border">
    <!-- <agm-map appDirectionsMapDirective [showDirection]="displayDirections"
            [origin]="origin"
            [destination]="destination"

            [zoom]="zoom"
            [disableDefaultUI]="false"
            [zoomControl]="false"> -->
    <agm-map  [zoom]="zoom" [latitude]="destination.latitude" [longitude]="destination.longitude">

        <agm-marker
                [latitude]="destination.latitude"
                [longitude]="destination.longitude"
                [iconUrl]='{"url": "./assets/images/placeholder.png", "scaledSize": {"height": 30, "width": 30}}'
                >
        </agm-marker>

        <agm-marker
                [latitude]="origin.latitude"
                [longitude]="origin.longitude"
                [iconUrl]='{"url": "./assets/images/delivery-man.png", "scaledSize": {"height": 25, "width": 25}}'
                >
        </agm-marker>
    </agm-map>
</div>


