<!-- <div class="form-group">
    <label>Enter address</label>
    <input type="text" class="form-control">
</div> -->

<!-- <h5>Address: {{address}}</h5> -->
<!-- <div>Latitude: {{latitude}}</div>
<div>Longitude: {{longitude}}</div>  -->
<div class="bg-warning pt-3 pr-3 pl-3 p-1">
    <p class="fs-13">Indique la direccion exacta de entrega. <strong>Se tomara como referencia el punto que especifica en el mapa.</strong></p>
</div>
<div>
    <form [formGroup]="registerForm">
        <div class="w-100">
            <div class="p-3">                                
                <span class="text-secondary fw-100 fs-11">Escriba el nombre de la calle numero y ciudad. No es necesario escribir: Jiron, jr, pasaje, av, etc.</span>
                <div>
                    <mat-checkbox class="fs-11 mt-2 text-info" (change)="dirInCoordenadas = !dirInCoordenadas">Ingresar direccion en coordenadas: Lat, Lng.</mat-checkbox>
                </div>
                <ng-container *ngIf="!dirInCoordenadas; else elseTemplateCoordenadas">
                    <mat-form-field class="w-100">
                        <input matInput class="input-headline" placeholder="Direccion" formControlName="direccion" [(ngModel)]="dataCliente.direccion" (keydown.enter)="$event.preventDefault()" (keyup)="checkDireccion(search.value)" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search id="search">
                    </mat-form-field>                                                                    
                </ng-container>
                <ng-template #elseTemplateCoordenadas>
                    <div class="w-100 d-flex justify-content-between">
                        <mat-form-field class="w-100">
                            <input matInput class="input-headline" placeholder="Coordenadas" #text_coordenadas>
                        </mat-form-field>                            
                        <button class="btn-in-input btn btn-sm btn-info"                        
                        (click)="getDirCoordenadas(text_coordenadas.value)"
                        > 
                        <span class="fa fa-search"></span>
                        </button>
                    </div>
                </ng-template>
                                
                <div class="w-100 d-flex justify-content-between">
                    <mat-form-field class="w-100">
                        <input matInput class="input-headline" maxlength="150" placeholder="Referencia / piso / oficina" formControlName="referencia" [(ngModel)]="dataCliente.referencia">
                    </mat-form-field>
                    <button class="btn-in-input btn btn-sm btn-info"
                        [disabled]="!registerForm.valid || loader > 0 || !isDireccionValid"
                        (click)="saveDireccion()"
                        >Listo</button>
                </div>

                <div hidden="true">
                    <mat-form-field class="w-100">
                        <input matInput class="input-headline" placeholder="Referencia / piso / oficina" formControlName="longitude" [(ngModel)]="longitude">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput class="input-headline" placeholder="Referencia / piso / oficina" formControlName="latitude" [(ngModel)]="latitude">
                    </mat-form-field>
                </div>
            

            <!-- mapa -->
                <div class="border" id="map_canvas">
                    <agm-map 
                        [latitude]="latitude" 
                        [longitude]="longitude"
                        [zoom]="zoom"                        
                        (centerChange)="centerChange($event)"
                        (mapClick)="clickmap()"
                        (idle)="idleMap()"
                        >
                        <!-- <agm-marker                             
                            [latitude]="latitude" 
                            [longitude]="longitude"                            
                            [markerDraggable]="true"
                            (dragEnd)="markerDragEnd($event)"
                            >
                        </agm-marker> -->
                        <!-- [markerDraggable]="true"
                            (dragEnd)="markerDragEnd($event)" -->
                    </agm-map>           
                    <div class="centerMarker"></div>     
                    <div class="btn-confirmar-dir" *ngIf="countMoveMap > 1">
                        <button class="btn btn-success" (click)="confirmarDireccion()">Confirmar</button>
                    </div>
                </div>

            </div>

            <!-- mapa -->
            </div>            
        </form>
        
        <div class="p-3">
            <p class="fw-600 fs-13">Esta es la dirección de mi:</p>
            <!-- <mat-radio-group aria-label="Select an option" class="fs-13" [(ngModel)]="dataCliente.titulo"> -->
            <mat-radio-group class="fs-13" [(ngModel)]="dataCliente.titulo"  #radioGroup="matRadioGroup">                
                <mat-radio-button class="pr-3" [checked]="checkekFirstOption" value="Casa">Casa</mat-radio-button>
                <mat-radio-button class="pr-3" value="Trabajo">Trabajo</mat-radio-button>
                <mat-radio-button class="pr-3" value="Novi@">Novi@</mat-radio-button>
                <mat-radio-button class="pr-3" value="Otro">Otro</mat-radio-button>
            </mat-radio-group>            
        </div>
        


        <div class="text-center pb-3">

            <button mat-flat-button mat-dialog-close class="mr-3">
                <i class="fa fa-arrow-left"></i>
                Atras
            </button>



            <button mat-flat-button 
                color="primary" 
                [disabled]="!registerForm.valid || loader > 0 || !isDireccionValid"
                (click)="saveDireccion()"
                >        
                <ng-container *ngIf="loader === 0; then thenTemplate; else elseTemplate"></ng-container>
                <ng-template #thenTemplate>            
                    Listo Guardar
                </ng-template>
                <ng-template #elseTemplate>
                    <ng-container *ngIf="loader === 1; else elseTemplateHecho">
                        <i class="fa fa-spinner fa-spin fa-fw"></i>
                        Guardando ...
                    </ng-container>
                    <ng-template #elseTemplateHecho>
                        <i class="fa fa-check"></i>
                        Hecho
                    </ng-template>                    
                </ng-template>
                
            </button> 

            <!-- recargar -->
            <button class="mt-2"mat-flat-button color="primary" *ngIf="!registerForm.valid" (click)="recargarPage()">
                <span class="fa fa-refresh mr-1"></span>                
                Recargar
            </button>
            
            
            
        </div>  
        
        <p *ngIf="!registerForm.valid" class="fw-600 text-danger fs-14">Indique direccion y una referencia.</p>                
        <p *ngIf="!isDireccionValid" class="fw-600 text-danger fs-16">El servicio no esta disponible en esta ubicación.</p>                
    

</div>