<!-- confirmacion de pedido solo delivery -->

<div class="animated fadeIn h-100 d-flex justify-content-center align-items-center" style="background-color: #3f51b5;">
    <mat-card class="mt-2 mb-2">
        <div class="p-3" style="max-width: 500px; margin: 0 auto;">
            <div class="p-3 bg-white">
                <div class="text-center">
                  <p class="fs-20">Pedido Confirmado</p>
                  <hr>
                  <p>Su orden llegara pronto.</p>
                  <hr>
                  <img src="./assets/images/food_delivery.gif" alt="delivery" width="160px">
                  <hr>
                  <p>Puede ver el estado en <br><strong>Mis Pedidos</strong>.</p>
                  <!-- <span class="fw-100 fs-25">{{ countFin | number: '2.' }}</span>
                  <p>Notificando pago a control de caja ...</p> -->
                </div>
              </div>
              
              <div class="p-3 bg-white text-center">          
                <button mat-flat-button color="primary" (click)="finDelivery()"> Listo. </button>
                <br>
              </div>
        </div>
    </mat-card>
</div>
