.xcontent {
        position: absolute;
        top: 0;
        bottom: 0;
}
.div-plr {
    padding-left: 7px;
    padding-right: 7px;
}

.div-content-all {
    top: 0px;
    position: relative;
}

.titulo-tpc {
    background: #424242;
    color: #e0e0e0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.titulo-seccion {
    padding-top: 8px;
    padding-bottom: 8px;
    background: blanchedalmond;
}

.li-item {
    padding-top: 6px;
    padding-bottom: 6px;
    border-top: 1px solid #e0e0e0;
}

.div-total {
    border-top: 2px dashed #9e9e9e;
}

.ul-total li:last-child{
    font-size: 20px;
    font-weight: 800;
}

.countItem {
    /* padding: 4px 7px 4px 7px;
    border-radius: 90%;
    line-height: 1;
    font-size: 12px;
    margin-top: 2px;
     */
    
    border-radius: 50%;
    line-height: 1.2;
    font-size: 12px;
    min-width: 20px;
    min-height: 20px;    
    padding: 4px;
    text-align: center;
}

.countTpc{
    float: right;
    background: #212121;
    color: #bdbdbd;
}

.countSeccion {
  float: right;
  color: #616161;
  background: #ffcc80;
}


.btn-footer-cancel {
    padding: 12px;
    background: #f44336;
    color: white;
    text-align: center;
    /* width: 30%; */
}

.btn-footer-next {
    padding: 12px;
    background: #00c853;
    color: white;
    text-align: center;
    white-space: nowrap;
    /* width: 30%; */
}

.btn-footer-next.xdisabled {
    pointer-events: none;
    opacity: 0.5;
    white-space: nowrap;
    background: #CCC;
}

/* RESUMEN pedido */
.div-resumen-pedido {
  position: absolute;  
  height: calc(100vh - 49px);
  overflow: auto;
}

.div-resumen-pedido.hide {
  margin-left: -100%;
  /* visibility: hidden; */
}

.div-resumen-pedido.show {
  margin-left: 0;
  /* visibility: visible; */
}

/* RESUMEN pedido */

/* confirmar pedido */
.div-confirma-pedido-mesa {
    height: 100vh;
    position: relative;
}

.div-confirma-pedido {        
    /* position: absolute; */
    background: antiquewhite;
    /* position: relative; */
    /* height: calc(100vh - 50px); */
    /* overflow: auto; */

    overflow: hidden;
    /* height: 100%; */
    top: 0;
    margin: 0;
    position: relative;
}

.bg-1 {
    background: antiquewhite;
}

.bg-2 {
    background: linen;
}

.div-confirma-pedido.hide {
    margin-left: 100%;
}

.div-confirma-pedido.show {
    margin-left: 0;
}

.xh-100 {
    height: 100vh;
}

/* confirmar pedido */

/* .subitem-content-resumen {
    background: #eceff1;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
  } */

.subitem-content-resumen {
    background: #eceff1;
    /* border-bottom: 1px solid #e0e0e0; */
    font-size: 12px;
    color: #616161;
    display: flex;
  }

.subitem-content-resumen .btnCount {
    transition: all ease-in 0.1s;
    height: 18px;    
    cursor: pointer;
    opacity: 0;
}

.subitem-content-resumen:hover .btnCount {
    opacity: 1;
}

.subitem-content-resumen .btnMenos {
    /* font-size: 15px; */
    font-weight: bold;
    background: #D32F2F;
    padding: 0px 8px 0px 8px;
    margin-right: 3px;
    border-radius: 3px;
    color: white;
}

.subitem-content-resumen .btnMas {
    /* font-size: 15px; */
    font-weight: bold;
    background: #1565C0;
    padding: 0px 8px 0px 8px;
    margin-left: 3px;
    border-radius: 3px;
    color: white;
}


@media only screen and (min-width: 600px) {
    

    .div-resumen-pedido {
        position: relative;
        height: auto;
        overflow: hidden;
    }

    .div-resumen-pre-pago {
        position: absolute;
        /* height: calc(100vh - 212px); */
    }

    .xfooter {
        bottom: 0px;
        position: fixed;
        background: #e0e0e0;
        /* height: 48px; */
        box-sizing: border-box;
        /* position: sticky; */
        min-width: 230px;
        max-width: 415px;
        width: calc(100% / 9.8 * 3);
    }

    .btn-footer-cancel {
        width: auto;
    }

    .btn-footer-next {
        width: auto;
    }

    .div-content-all {
        font-size: 14px !important;
    }
    
}

@media only screen and (max-width: 1050px) {
    .content-resumen{
        display: none;
    }

    .xfooter{
        width: 100%;
        max-width: 100%;
    }
    
}
