.div-list-date {
    /* padding: 10px; */
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.item-list-date {
    /* padding-top: 10px;
    padding-bottom: 10px;     */
    padding: 5px 10px 5px 10px;    
    border: 1px solid #9e9e9e;
    border-radius: 5px;
}

.item-list-date.selected {
    background-attachment: lightyellow;
}

.btn-social {
    margin: 15px;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.btn-social.fb {
    background: dodgerblue;
}

.btn-social.gmail {
    background: #d32f2f;
}

.btn-social.wsp {
    background: #08b725;
}

.btn-social.dni {
    background: #5e35b1;
}

.btn-social.invitado {
    background: darkturquoise;
}

.dni-b {
    margin-left: 25px;
}