<div class="fondo">
    <!-- toolbar -->
    <ng-container *ngIf="showToolBar">
      <div matRipple class="text-white bg-primary p-2 m-toolbar-seccion animated pulse" (click)="goBack()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <span class="pl-2 font-weight-light fs-13">{{tituloToolBar}}</span>        
      </div>
    </ng-container>

    <!-- categorias -->
    <div [hidden]="!showCategoria" class="animated fadeIn">
        <ng-container *ngIf="objCarta">
            <ul>
                <li *ngFor="let item of objCarta.carta" class="xCursor"
                    matRipple [matRippleColor]="rippleColor"
                    (click)="getSecciones(item)">
                    <div class="m1">                          
                      <div class="img mt-2">
                        <img src="assets/images/048-grill.png" alt="">
                      </div>                        
                      <div>
                        <span class="fw-100 fs-20">{{item.des}}</span><br>                        
                        <div class="text-secondary">
                          <span class="mt-2 fs-15">{{ item.detalle | lowercase }}</span><br>
                          <i class="fa fa-clock-o pr-2" aria-hidden="true"></i>
                          <span class="mt-2 fs-12">Horario de atencion: de {{item.hora_ini}} a {{item.hora_fin}} </span>
                        </div>
                      </div>
                    </div>
                </li>
            </ul>    
        </ng-container>
    </div>    

    <!-- Secciones -->
    <div [hidden]="!showSecciones" class="animated fadeIn m-main-pt-40">
      <ng-container>
        <ul>
          <li *ngFor="let item of objSecciones; let i = index" class="xCursor"
              matRipple [matRippleColor]="rippleColor"
              (click)="getItems(item)">
            <div class="m1">
              <div class="img">
                <img src="assets/images/{{i}}.png" alt="">
              </div>
              <div>
                <span class="fw-100 fs-19">{{item.des}}</span><br>
                <div class="text-secondary">
                  <span class="mt-2 fs-14">sopa, causa aaaaa, eeee , yyy.....</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </ng-container>
    </div>

    <!-- items -->
    <div [hidden]="!showItems" class="animated fadeIn m-main-pt-40 color-fondo-ul">
      <ng-container>
        <ul>
          <li *ngFor="let item of objItems" class="transicion" [ngClass]="{'li-padding-selected': item.selected}">  
            <div class="trasicion-border xcontent border-left-item-{{getEstadoStockItem(item.cantidad)}}"> 
              <div class="m1 d-flex xtitulo" matRipple [matRippleColor]="rippleColor" (click)="selectedItem(item)">
                <div class="w-100">{{item.des}}</div>
                <div class="text-right d-flex">
                  <div class="transicion flag-stock text-center estado-color-{{getEstadoStockItem(item.cantidad)}} animated fadeInDown">
                    <div [ngClass]="{'animated wobble': item.cantidad===0}">
                      <span class="fs-9">Stock</span><br>
                      <span class="fs-15">{{item.cantidad}}</span>
                    </div>
                  </div>
                  <span>{{item.precio | number:'0.2' }}</span>
                </div>
              </div>              
              <ng-container *ngIf="item.selected">
                <div class="animated fadeIn">
                  <!-- detalle -->                  
                  <ng-container *ngIf="item.detalles === ''; else elseTemplate">
                    <br>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <div class="pl-3 pr-3">
                      <span class="fs-14 text-secondary">{{ item.detalles | lowercase }}</span>
                    </div>
                    <hr>                    
                  </ng-template>
                  
                  <!-- especificaciones -->
                  <div class="pl-3 pr-3">
                    <mat-form-field class="w-100 margin-input">
                      <input matInput placeholder="Escribe aqui las especificaciones">
                    </mat-form-field>                    
                  </div>
                  <hr>
                  <!-- tipos de consumo -->
                  <div class="pl-3 pr-3">
                    <table width="100%" class="tb-tpc">
                      <tr *ngFor="let tp of objItemTipoConsumoSelected">
                        <td>{{tp.descripcion}}</td>
                        <td>
                          <div class="d-flex float-right">
                            <span class="fs-19 pr-2">{{tp.cantidad_seleccionada}}</span>
                            <div class="btn-tbl bg-danger xCursor" matRipple (click)="this.miPedidoService.addItem2(tp, item, 1)">-</div>
                            <div class="btn-tbl bg-success xCursor" matRipple (click)="this.miPedidoService.addItem2(tp, item, 0)">+</div>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <br>
                  </div>
                </div>                
              </ng-container>
              
            </div>            
          </li>          
        </ul>        
      </ng-container>
    </div>
    <br>

</div>
