/* @import '../pedido.style.css'; */
.text-puntos-suspensivos {
	width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-view-item-mercado {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.li-content-mercado {
    list-style-type: none;
}

.li-item-mercado {
    background: white;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

.div-control-add-fast {
    position: absolute;
    right: 20px;
    top: 5px;
}

.control-more-clic {
    padding-left: 15px;
    margin-bottom: 10px;
  }

.btn-indicacion-last-control {    
    width: fit-content;
    background: mediumseagreen;
    color: white;    
    text-align: center;
    padding: 2px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 28px;
}

@media only screen and (min-width: 600px) {
    .content-master {
        display: flex;
    }

    .content-secciones {
        width: 100%;
        max-width: 350px;
        min-width: 310px;
        border-right: 2px solid #bdbdbd;
        height: calc(100vh - 110px);
        overflow: auto;
    }

    .content-items {
        width: 100%;
        /* max-width: 500px; */
        min-width: 320px;
        border-right: 1px solid #dee2e6!important;
        height: calc(100vh - 110px);
        overflow: auto;
    }

    .content-resumen {
        min-width: 360px;
        max-width: 420px;
        width: 100%;
        padding: 50px 20px 0px 20px;
        border: 2px solid #bdbdbd;
        height: calc(100vh - 110px);
        overflow: auto;
        background: #eeeeee;
    }

  }

  
@media only screen and (max-width: 1050px) {
    .content-resumen{
        display: none;
    }
}

/* cuando es mayot o igual a 1500 */
@media only screen and (min-width: 1250px) {
    .ul-items {
        display: flex;
        flex-wrap: wrap;
        flex-flow: row wrap;
    }
    .li-item {
        flex-basis: 50%;
        border-right: 2px solid #eeee;
    }

    .child-item {
        height: 100%;
    }
}