.fondo-ini {
    position:relative;
    text-align:center;
    background: linear-gradient(0deg, rgba(0,172,193,1) 0%, #3f51b5 100%);
    color:white;
  }

.d-inline-box {
    display: -webkit-inline-box;
}

.fondo-tab-group {
    background: #3f51b5;
    /* background: #303f9f; */
    /* background: #168EBD; */
    /* top: 50px; */
    /* position: fixed; */
    width: 100%;
    z-index: 1;
}

.header-tab-cliente {
    display: grid !important;
    color: white;
}

.xfooter-zona-delivery {
    bottom: 0px;
    position: fixed;
    text-align: center;
    width: 100%;
    background: #3f51b5;
    /* padding: 20px; */
}
.header-app-1 {
    /* background: #003770; */
    position: fixed;
    background: #3f51b5;
    color: white;
    width: 100%;

    top: 0;    
    left: 0;
    /* position: fixed; */
    z-index: 1;
    align-items: baseline;
}
.content-body {
    margin-top: 56px;
    height: calc(100vh - 56px);
    overflow: auto;
    /* background: #E5EFF7; */
    background-color: #eeeeee;    
}

.content-paso-ini {
    background: white;
    padding: 10px;
    margin: 20px 30px 0px 30px;
    border-radius: 10px;
    max-width: 30%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    min-width: 300px;
}