<div class="text-center">
    <img src="./assets/images/icon-app/robot_piter.gif" alt="">
    <p class="fw-600 fs-13 pt-1">Hola!, soy Piter, su mozo virtual por voz.</p>    
    <div>
        <p class="fw-100 fs-13">Si desea que lo atienda active el microfono que esta en la parte superior.</p>
        <div class = "content-btn">
            <i class="fa fa-microphone"></i>
        </div>
    </div>
    <hr>
    <button mat-raised-button color="primary" mat-dialog-close>Ok, Entendido.</button>
</div>
