/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


.xboder-abajo {
    border-bottom: 1px solid rgba(199,199,199);
}

.xboder-derecha {
    border-right: 1px solid rgba(199,199,199);
}

.xcontainer-center {
    display: flex;    
    align-items: center;
}

.xcontainer-centrado {
    display: grid;    
    align-items: center;
    height: 100vh;
}

.xfooter {
    width: 100%;
    bottom: 0px;
    position: fixed;
    background: #e0e0e0;
    /* height: 48px; */
}