<div class="text-center">
    <div class="text-center m-5">
      <img src="assets/images/papaya_text.png" width="200px">
      <div>
        <h3>Personal Autorizado</h3>
      </div>      
      <hr>

      <form (ngSubmit)="logear()" #frmpass="ngForm">
        <div class="row ">
          <div class="col-sm-6">
            <mat-form-field class="w-100">
              <input matInput placeholder="Usuario" [(ngModel)]="usuario.nomusuario" name="nomusuario" required>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field class="w-100">
              <input matInput type="password" [(ngModel)]="usuario.pass" name="pass" placeholder="Clave" required>
            </mat-form-field>
          </div>
        </div>

        <div class="text-center">
          <mat-progress-bar [hidden]="!loading" mode="indeterminate"></mat-progress-bar>
          <span class="fs-14 font-weight-bold text-danger animated flash" [hidden]="!msjErr">Credenciales
            Incorrectas.</span>
        </div>

        <hr>
        <div class="text-center">
          <button mat-flat-button [disabled]="!frmpass.valid">Listo, Ingresar</button>
        </div>
      </form>

    </div>
</div>
